<script src="{{ url_for('static', filename='update_profile.js') }}"></script>
{% extends 't_sub_base.html' %}

{% block page_title %} UpdateProfile {% endblock %}

{% block header1 %}<h1>Update my profile</h1>{% endblock %} 

{% block page_content %}

<div class="task-grid">    
    <div class="task">
        {% if session['user_name'] %}
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
            const formData = {{ form_data|tojson }};
            const jsonData = formData.json_data;

            if (jsonData.length > 0) {
                const data = jsonData[0]; // Assuming we are dealing with the first object for simplicity
                console.log("Data---> ", data);
                document.getElementById('user_name').value = data.user_name || '';
                document.getElementById('u_name').value = data.user_name || '';
                document.getElementById('email').value = data.email || '';
                document.getElementById('first_name').value = data.first_name || '';
                document.getElementById('last_name').value = data.last_name || '';
                document.getElementById('date_of_birth').value = data.date_of_birth || '';
                document.getElementById('address_line1').value = data.address_line1 || '';
                document.getElementById('address_line2').value = data.address_line2 || '';
                document.getElementById('area_code').value = data.area_code || '';
            }
        });
        </script>
        <section class="registration-form">
            <h2>Update My Profile</h2>
            <section name="responseMessage" id="responseMessage" > </section>
            <form id="updateProfileForm" action="{{ url_for('authenticate.updateProfile') }}" method="post">
                <label for="user_name">Username:</label>
                <input type="text" id="u_name" name="user_name" disabled>
                <input type="hidden" id="user_name" name="user_name">
                
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" disabled>
                
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name">
                
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name">                              

                <label for="date_of_birth">Date of Birth:</label>
                <input type="date" id="date_of_birth" name="date_of_birth">

                <label for="address_line1">Address Line 1:</label>
                <input type="text" id="address_line1" name="address_line1">

                <label for="address_line2">Address Line 2:</label>
                <input type="text" id="address_line2" name="address_line2">

                <label for="area_code">Area Code:</label>
                <input type="text" id="area_code" name="area_code">                                
                              
                
                <div class="btn-box">
                    <input type="submit" class="btn" value="Update Profile">
                    <input type="reset" class="btn" value="Clear Fields">
                </div>
            </form>            
        </section>
        {% endif %}        
    </div>
    <div class="task-msg"></div>                
</div>

{% endblock %}