{% extends 't_sub_base.html' %}

{% block page_title %} Features {% endblock %}

{% block header1 %}<h1>PollPit Features</h1>{% endblock %} 

{% block page_content %}

<div class="task-grid">    
    <div class="task">
        <section class="about-us">
            <h2>Features</h2>
            <p>Welcome to <span class="site-name">PollPit</span>, your premier destination for sharing your opinions and earning rewards!</p>
            <div class="our-values">
              <h3>Our Features</h3>
              <ul>
                <li><span>Transparency</span>: We believe in clear and honest communication.</li>
                <li><span>Integrity</span>: We prioritize ethical practices in all our dealings.</li>
                <li><span>Innovation</span>: We strive to stay ahead of the curve in technology and research methods.</li>
                <li><span>Community</span>: We value our members and their contributions.</li>
              </ul>
            </div>
          </section>        
    </div>       
</div>
{% endblock %}