<script src="{{ url_for('static', filename='publish_task.js') }}"></script>
{% extends 't_sub_base.html' %}

{% block page_title %} PublishTask {% endblock %}

{% block header1 %}<h1>Publish a Job</h1>{% endblock %} 

{% block page_content %}
<div class="task-grid">
    <div class="task">
        <section class="registration-form">
            <h2>Create New Task</h2>
            <form action="{{ url_for('publishTask') }}" method="post">
                <label for="task_name">Task Name:</label>
                <input type="text" id="task_name" name="task_name">
                <label for="desc">Description:</label>
                <textarea id="desc" name="desc" rows="3" cols="20"></textarea>
                <label for="points">Points:</label>
                <input type="number" id="points" name="points">
                <label for="no_of_slots">Number of Slots:</label>
                <input type="number" id="no_of_slots" name="no_of_slots">
                <label for="no_of_fields">Number of Fields:</label>
                <input type="text" id="no_of_fields" name="no_of_fields" onchange="generateForm()">

                <label for="task type">Job Type:</label>
                <select name="type_list" id="type_list">
                    <option value="Survey">Survey</option>
                    <option value="Poll">Poll</option>
                    <option value="Questionary"></option>
                </select>

                <section class="dynamic-form" id="dynamic_form"></section>

                <div class="btn-box">
                    <input type="submit" value="Publish Task" class="btn">
                    <input type="reset" class="btn" value="Clear Fields">
                </div>

                <section class="dynamic-form" id="responseMessage"></section>
                
            </form>
        </section>
    </div>
    <div class="task-msg">

    </div>
</div>
{% endblock %}

