<!--template for sub HTML pages of the site-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block page_title %}{% endblock %}</title>
    <script src="{{ url_for('static', filename='site_function.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='tsub.css') }}">
</head>
<body>
    <header>
        <div class="container">
            {% block header1 %}{% endblock %}
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('index') }}">About</a></li>
                    <li><a href="{{ url_for('index') }}">Contact</a></li>
                    <li><a href="{{ url_for('index') }}">Login</a></li>
                    <li><a href="{{ url_for('index') }}">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="featured-task">
                {% block page_content %}{% endblock %}
                <!--h2>Featured Advertisements</!--h2>
                <div-- class="task-grid">
                    <div class="task">
                        <h3>Task Title 1</h3>
                        <p>Task Description 1</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 2</h3>
                        <p>Task Description 2</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 3</h3>
                        <p>Task Description 3</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 4</h3>
                        <p>Task Description 4</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 4</h3>
                        <p>Task Description 4</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 5</h3>
                        <p>Task Description 5</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                </div-->
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Pay to Surf. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>