<!--template for sub HTML pages of the site-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <title>{% block page_title %}{% endblock %}</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='tsub.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='pollpit_logo.png') }}" alt="Logo">
            {% block header1 %}{% endblock %}
            <nav>
                {% if session['user_name'] %}
                    {% if session['role_id'] == 1 %}
                        <ul>
                            <li><a href="{{ url_for('authenticate.viewProfile') }} class="nav-link"><i class="fas fa-user"></i> {{ session['user_name'] }}</a></li>
                            <li><a href="{{ url_for('index') }}"><i class="fas fa-home"></i>Home</a> </li>
                            <li><a href="{{ url_for('loadDashboard') }}" class="nav-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                            <li><a href="{{ url_for('publishTask') }}" class="nav-link"><i class="fas fa-tasks"></i> Publish Tasks</a></li>
                            <!--<li><a href="{{ url_for('authenticate.logout') }}">Log Out</a></li>-->
                            <li><a href="{{ url_for('authenticate.logout') }}" class="nav-link"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>                            
                        </ul>
                    {% elif session['role_id'] == 2 %}
                        <ul>
                            <li><a href="{{ url_for('authenticate.viewProfile') }}">Welcome {{ session['user_name'] }}</a> </li>
                            <li><a href="{{ url_for('index') }}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
                            <li><a href="{{ url_for('loadDashboard') }}" class="nav-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>                        
                            <li><a href="{{ url_for('authenticate.logout') }}">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul>
                            <li><a href="{{ url_for('index') }}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
                            <li><a href="{{ url_for('about') }}">About Us</a></li>
                            <!--li><a href="{{ url_for('contact') }}">Contact Us</a></li-->
                            <!--<li><a href="{{ url_for('authenticate.login') }}">Login</a></li>-->
                            <li><a href="{{ url_for('authenticate.login') }}" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                        </ul>
                    {% endif %}                
                {% else %}
                <ul>
                    <li><a href="{{ url_for('index') }}" class="nav-link"><i class="fas fa-home"></i> Home</a></li>
                    <!--<li><a href="{{ url_for('about') }}">About Us</a></li>-->
                    <li><a href="{{ url_for('about') }}" class="nav-link"><i class="fas fa-info-circle"></i> About Us</a></li>
                    <!--<li><a href="{{ url_for('contact') }}">Contact Us</a></li>-->
                    <li><a href="{{ url_for('authenticate.login') }}" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                </ul>
                {% endif %}
                
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <section class="featured-task">
                {% block page_content %}{% endblock %}
                <!--h2>Featured Advertisements</!--h2>
                <div-- class="task-grid">
                    <div class="task">
                        <h3>Task Title 1</h3>
                        <p>Task Description 1</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 2</h3>
                        <p>Task Description 2</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 3</h3>
                        <p>Task Description 3</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 4</h3>
                        <p>Task Description 4</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 4</h3>
                        <p>Task Description 4</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                    <div class="task">
                        <h3>Task Title 5</h3>
                        <p>Task Description 5</p>
                        <a href="#" class="btn">Visit</a>
                    </div>
                </div-->
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Pay to Surf. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>