
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay to Surf</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tbase.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Pay to Surf</h1>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#login">Login</a></li>
                    <li><a href="#signup">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container-main">
            <div class="section-empty"> </div>   
            <div class="circle-menu">
                <div class="menu-item" id="item1"><a href="{{ url_for('index') }}">Home</a></div>
                <div class="menu-item" id="item2"><a href="{{ url_for('authenticate.registerUser') }}">About Us</a></div>
                <div class="menu-item" id="item3"><a href="{{ url_for('index') }}">Help and Support</a></div>
                <div class="menu-item" id="item4"><a href="{{ url_for('index') }}">Features</a></div>
                <div class="menu-item" id="item5"><a href="{{ url_for('index') }}">Login <br>or<br> Register</a></div>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 BB9IS109 WebDevelopment</p>
    </footer>
</body>
</html>