
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PollPit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tbase.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='pollpit_logo.png') }}" alt="Logo">
            <h1>PollPit - Information Platform</h1>
            <nav>
                {% if session['user_name'] %}
                <ul>
                    <li><a href="#">Welcome {{ session['user_name'] }}</a></li>
                    <li> | <a href="{{ url_for('loadDashboard') }}">Task Dashboard</a> | </li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a> | </li>
                    <li><a href="{{ url_for('about') }}">My Profile</a> | </li>
                    <li><a href="{{ url_for('authenticate.logout') }}">Log Out</a></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <!--li><a href="{{ url_for('contact') }}">Contact Us</a></li-->
                    <li><a href="{{ url_for('authenticate.login') }}">Login</a></li>
                    <li><a href="{{ url_for('authenticate.registerUser') }}">Register</a></li>
                </ul>
                {% endif %}
                
            </nav>
        </div>
    </header>

    <main>
        <div class="container-main">
            <div class="section-empty"> </div>   
            {% block page_content %}{% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 BB9IS109 WebDevelopment</p>
    </footer>
</body>
</html>