
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>PollPit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tbase.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <img src="{{ url_for('static', filename='pollpit_logo.png') }}" alt="Logo">
            <h1>PollPit - Information Platform</h1>
            <nav>
                {% if session['user_name'] %}
                <ul>
                    <li><a href="{{ url_for('authenticate.viewProfile') }}" class="nav-link"><i class="fas fa-user"></i> {{ session['user_name'] }}</a></li>
                    <li><a href="{{ url_for('loadDashboard') }}" class="nav-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li><a href="{{ url_for('about') }}" class="nav-link"><i class="fas fa-info-circle"></i> About Us</a></li>
                    <li><a href="{{ url_for('authenticate.logout') }}" class="nav-link"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
                </ul>
                {% else %}
                <ul>
                    <li><a href="{{ url_for('about') }}" class="nav-link"><i class="fas fa-info-circle"></i> About Us</a></li>
                    <li><a href="{{ url_for('authenticate.login') }}" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a></li>
                    <li><a href="{{ url_for('authenticate.registerUser') }}" class="nav-link"><i class="fas fa-user-plus"></i> Register</a></li> 
                </ul>
                {% endif %}
                
            </nav>
        </div>
    </header>

    <main>
        <div class="container-main">
            <div class="section-empty"> </div>   
            {% block page_content %}{% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 BB9IS109 WebDevelopment</p>
    </footer>
</body>
</html>